* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;

}

/* Website Name */

.navbarParent h1 {
    color: #1abc9c;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbarParent h1 span {
    transition: 0.5s ease-out;
    position: relative;
    display: flex;
    align-items: center;
    margin: 14px auto;
}

.navbarParent h1:hover span:nth-child(1) {
    margin-right: 5px;
}

.navbarParent h1:hover span:nth-child(1):after {
    content: "";
}

.navbarParent h1:hover span:nth-child(2) {
    margin-left: 30px;
}

.navbarParent h1:hover span {
    color: #363535;
    text-shadow: 0 0 2px #363535, 0 0 2px #363535, 0 0 2px #363535;
}


/* Navigation Bar */
.navbarParent {
    background: #34495e;
    background: white;
    display: flex;
    height: 58px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

#logo {
    height: 39px;
    margin: 11px 21px;
}

#navbar {
    display: flex;
    height: 57px;
    /* align-content: center; */
}

nav {
    position: relative;
    /* width: 1279px; */
    width: 590px;
    height: 50px;
    align-items: end;
    /* background: #34495e; */
    background: white;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
    margin: 0 auto;
    text-align: center;
}

nav a {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    /* text-transform: uppercase; */
    color: #363535;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    text-align: center;

}

nav .animation {
    position: absolute;
    height: 49px;
    /* height: 5px; */
    bottom: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

a:nth-child(1) {
    width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    /* width:81px;
    left: 354px; */
    width: 100px;
    left: 0;
}

a:nth-child(2) {
    width: 110px;
}

nav .start-aboutus,
a:nth-child(2):hover~.animation {
    width: 110px;
    /* left: 454px; */
    left: 100px;
}

a:nth-child(3) {
    width: 100px;
}

nav .start-services,
a:nth-child(3):hover~.animation {
    width: 100px;
    /* left: 564px; */
    left: 210px;
}

a:nth-child(4) {
    width: 160px;
}

nav .start-training,
a:nth-child(4):hover~.animation {
    width: 150px;
    /* left: 664px; */
    left: 310px;
}

a:nth-child(5) {
    width: 120px;
}

nav .start-certificates,
a:nth-child(5):hover~.animation {
    width: 120px;
    /* left: 824px; */
    left: 470px;
}

/* Services Section */

.servicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* flex-wrap: wrap;
    justify-content: space-between; */
}

.servicesContainer .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    box-sizing: border-box;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

.servicesContainer .box:before {
    content: '';
    /* width: 50%;
    height: 50%; */
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255, .2);
    z-index: 2;
    /* pointer-events: none; */
}

.servicesContainer .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.servicesContainer .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.servicesContainer .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #e91e63;
    background: #e91e63;
}

.servicesContainer .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}

.servicesContainer .box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #23e629;
    background: #23e629;
}

.servicesContainer .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}

.servicesContainer .box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #2196f3;
    background: #2196f3;
}

.servicesContainer .box .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.servicesContainer .box:hover .content {
    color: #fff;

}

.servicesContainer .box .content h3 {
    font-size: 20px;
    padding: 0px;
    margin: 10px 0;
}

.servicesContainer .box .content p {
    margin: 0;
    padding: 0;
}

.servicesContainer .box .content a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}


/* Certificates Section */

#headingCertificates h1 {
    display: flex;
    text-align: center;
    margin: 10px 200px;
    margin-left: 303px;
    padding: 10px 54px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* #headingCertificates:hover{
    box-shadow: 0 0 0 400px #e91e63;
    background: #e91e63;
} */


.certificatesContainer .certificatesBox .certificatesImgbx img {
    width: 350px;
    height: 233px;
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
}

.certificatesContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1163px;
    transform-style: preserve-3d;

    margin-left: 25px;
}

.certificatesContainer .certificatesBox {
    position: relative;
    width: 300px;
    height: 279px;
    margin: 20px 0;
    perspective: 1000px;
    /* overflow: hidden; */
    transform-style: preserve-3d;
}

.certificatesContainer .certificatesBox:hover .certificatesImgbx {
    transform: rotateX(-90deg);
    opacity: 0;
    transition-delay: 0s;
}

.certificatesContainer .certificatesBox .certificatesImgbx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.certificatesContainer .certificatesBox .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #575050;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: 0.5s;
    transform: rotateX(90deg);
    opacity: 0;

}

.certificatesContainer .certificatesBox:hover .content {
    transform: rotateX(0deg);
    opacity: 1;
    transition-delay: 0.2s;
}



/* Training Section */

.trainingHeader{
    position: absolute;
    text-align: center;
}
.trainingHeader h4{
    bottom: 224px;
    position: absolute;
    color: white;
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    right: -40px;
    text-align: center;
}
.trainingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
    position: relative;
}

.trainingContainer .trainingBox {
    width: 300px;
    height: 350px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainingContainer .trainingBox .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.trainingContainer .trainingBox .content .icon {
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e,0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.5s ease-in-out;

}

.trainingContainer .trainingBox:hover .content .icon {
   
    background:var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e,0 0 0 300px var(--clr);


}

.trainingContainer .trainingBox .content .text h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.trainingContainer .trainingBox:hover .content .text {
    color: #2e2e2e;
}

.trainingContainer .trainingBox:hover .content p{
    color: #999;
    transition: 0.5s ease-in-out;
}

.trainingContainer .trainingBox:hover .content p{
    color: #2e2e2e; 
}

.trainingContainer .trainingBox .content a{
    position: relative;
    background: var(--clr);
    color: #2e2e2e;
    padding: 6px 19px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
    border-radius:7px ;
}

.trainingContainer .trainingBox:hover .content a{
    background: #2e2e2e;
    /* background: #1abc9c; */
    color: var(--clr);

}




/* About Us Section */



.aboutUsContainer .contactInfo .socialMedia img {
    height: 24px;
}

section {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;

}

section .aboutUsContainer {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

section .aboutUsContainer .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .aboutUsContainer .contactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

section .aboutUsContainer .contactInfo .info {
    position: relative;
    margin: 20px 0;
}

section .aboutUsContainer .contactInfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .aboutUsContainer .contactInfo .info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;

}

section .aboutUsContainer .contactInfo .info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .aboutUsContainer .contactInfo .info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

section .aboutUsContainer .contactInfo .info li:hover span:nth-child(1) img,
section .aboutUsContainer .contactInfo .info li:hover span:nth-child(2) {
    opacity: 1;
}

section .aboutUsContainer .contactInfo .socialMedia {
    position: relative;
    display: flex;
    padding: 41px;
    margin: 21px 52px;
}

section .aboutUsContainer .contactInfo .socialMedia li {
    list-style: none;
    margin-right: 15px;
}

section .aboutUsContainer .contactInfo .socialMedia li a {
    text-decoration: none;
}

section .aboutUsContainer .contactInfo .socialMedia li a img {
    filter: invert(1);
    opacity: 0.5;
}

section .aboutUsContainer .contactInfo .socialMedia li:hover a img {
    opacity: 1;
}


section .aboutUsContainer .contactForm {
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    width: calc(100% -150px);
    margin-left: 150px;
    padding-left: 250px;
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);

}

section .aboutUsContainer .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

section .aboutUsContainer .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .aboutUsContainer .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;

}

section .aboutUsContainer .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

section .aboutUsContainer .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

section .aboutUsContainer .contactForm .formBox .inputBox input,
section .aboutUsContainer .contactForm .formBox .inputBox textarea {
    width: 100% !important;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    resize: none;

}

section .aboutUsContainer .contactForm .formBox .inputBox textarea {
    min-height: 120px;

}

section .aboutUsContainer .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;

}

section .aboutUsContainer .contactForm .formBox .inputBox input:focus~span,
section .aboutUsContainer .contactForm .formBox .inputBox textarea:focus~span,
section .aboutUsContainer .contactForm .formBox .inputBox input:valid~span,
section .aboutUsContainer .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #1abc9c;
}

section .aboutUsContainer .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #0f3959;
    border: none;
    max-width: 150px;
    padding: 12px;

}

section .aboutUsContainer .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #1abc9c;
}